*.jl.*.cov
*.jl.cov
*.jl.mem
*.vtk
*.txt
*.vtp
*.stl

/examples/output3D/
/stent_deployment/output3D/
/stent_deployment/output3D copy/
/test/output3D/

docs/build/
Manifest.toml
LocalPreferences.toml
.vscode

